.citycharts * {
  font-size: 12px;
  }

.citycharts section {
  width: 600px;
  float: left;
  }

/* genre */
.genres {
  }
  .genres h3 {
    display: inline-block;
    line-height: 30px;
    text-indent: 18px;
    margin: 0;
    color: #333;
    }
  .genres a {
    color: #f0a36f;
    }
  .genres ul {
    margin: 0;
    padding: 0;
    display: inline;
    }
    .genres ul li {
      display: inline;
      padding: 3px;
      }

/* chart */
.chart {
  margin: 0;
  list-style: none;
  padding: 0;
  position: relative;
  }
  .chart > li {
    position: relative;
    border-top: solid 1px #adadad;
    line-height: 34px;
    width: 50%;
    }
    .chart .alt {
      position: absolute;
      right: 0;
      top: 0;
      }
      .chart li:nth-child(12) {
        margin-top: 35px;
        }
      .chart li:nth-child(13) {
        margin-top: 70px;
        }
      .chart li:nth-child(14) {
        margin-top: 105px;
        }
      .chart li:nth-child(15) {
        margin-top: 140px;
        }
      .chart li:nth-child(16) {
        margin-top: 175px;
        }
      .chart li:nth-child(17) {
        margin-top: 210px;
        }
      .chart li:nth-child(18) {
        margin-top: 245px;
        }
      .chart li:nth-child(19) {
        margin-top: 280px;
        }
      .chart li:nth-child(20) {
        margin-top: 315px;
        }
    .chart li h3{
      margin: 0 0 0 5px;
      display: inline;
      }
      .chart li h3 span {
        display: block;
        float: left;
        text-align: center;
        width: 32px;
        color: #fff;
        font-size: 16px;
        background: #f0a36f;
        }
    .chart li ul {
      position: absolute;
      right: 18px;
      top: 0;
      }
      .chart li ul li{
        list-style: none;
        display: inline-block;
        }
      .chart .star,
      .chart .facebook,
      .chart .listen {
        cursor: pointer;
        width: 17px;
        overflow: hidden;
        text-indent: -10000em 
        }
      .chart .star {
        width: 17px;
        background: url(../images/img_icon_star_0.png) 0 center no-repeat transparent;
        overflow: hidden;
        text-indent: -10000em
        }
      /* in case you need a numeric for no rating */
      .chart .star0 {
        width: 17px;
        background: url(../images/img_icon_star_0.png) 0 center no-repeat transparent;
        overflow: hidden;
        text-indent: -10000em
        }
      .chart .star1 {
        width: 17px;
        background: url(../images/img_icon_star_1.png) 0 center no-repeat transparent;
        overflow: hidden;
        text-indent: -10000em
        }
      .chart .star2 {
        width: 17px;
        background: url(../images/img_icon_star_2.png) 0 center no-repeat transparent;
        overflow: hidden;
        text-indent: -10000em
        }
      .chart .star3 {
        width: 17px;
        background: url(../images/img_icon_star_3.png) 0 center no-repeat transparent;
        overflow: hidden;
        text-indent: -10000em
        }
      .chart .star4 {
        width: 40px;
        height: 35px;
        overflow: hidden;
        /* text-indent: -10000em */
        }
      .chart .facebook {
        background: url(../images/img_icon_fb.jpg) 0 center no-repeat transparent ;
        width: 18px;
        }
      .chart .listen:hover {
        cursor: pointer;
        }
      .chart .listen {
        background: url(../images/img_icon_headphones.jpg) 0 center no-repeat transparent;
        width: 19px;
        margin-left: 5px;
        }

.citycharts aside {
  margin: 0 0 0 620px;
  }
  .citycharts aside ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 17px;
    text-indent: 10px;
    }
    .citycharts aside ul li {
      }
      .citycharts aside ul li:nth-of-type(odd) {
        background: #ececec;
        }
      .citycharts aside ul li input[type=checkbox] {
        margin: 0 10px 0 0;
        }

.band-list {
  background: #999;
  font-family: "georgia", "times new roman", serif;
  display: block;
  overflow: hidden;
  }
  .band-list fieldset {
    border: none;
    float: left;
    }
    .band-list label {
      float: left;
      margin-right: 10px;
      }
    .band-list select {
      background: #333;
      border: none;
      border-radius: 3px;
      font-size: 10px;
      color: #fff;
      }

.prev, .next {
  background: #333;
  border: none;
  border-radius: 3px;
  font-size: 10px;
  color: #fff;
  margin-top: 5px;
}

/* star rating styles */
.band_rating {
    margin-bottom: 18px;
    padding-bottom: 14px;
    }
    .rate_widget {
        padding: 0;
        display: inline-block;
    }
    .stars {
        background-color: white;
        padding: 0;
        margin: 3px 29px 0 0;
        list-style-type: none;
        display: inline-block;
        overflow: hidden;
        width: 19px;
        height: 29px;
        -webkit-transition-duration: 0.3s;
           -moz-transition-duration: 0.3s;
             -o-transition-duration: 0.3s;
            -ms-transition-duration: 0.3s;
                transition-duration: 0.3s;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
            -ms-border-radius: 5px;
             -o-border-radius: 5px;
                border-radius: 5px;
        }
        .stars:hover {
          margin: 3px -51px 0 0;
          width: 120px;    
          z-index: 10001;
        }
    .ratings_stars {
        background: url('../images/img_icon_star_0.png') center no-repeat transparent;
        display: inline-block;
        height: 16px;
        padding: 0;
        width: 16px;
        margin-right: 4px;
        line-height: 16px;
        }
    .ratings_delete{
        background: url('../images/img_icon_delete.png') center no-repeat transparent;
        display: inline-block;
        height: 16px;
        padding: 0;
        width: 16px;
        margin-right: 4px;
        line-height: 16px;
        }
        .ratings_vote {
          background: url('../images/img_icon_star_3.png') center no-repeat transparent;
          }
        .ratings_stars:hover,
        .ratings_stars.active {
          background: url('../images/img_icon_star_4.png') center no-repeat transparent;
          }

    .total_votes, .rating_error, .rating_label {
        padding: 0;
        color: #666666;
        display: inline-block;
        line-height: 22px;
        vertical-align: top;
        margin-right: 8px;
        margin-top: 2px;

        }
        .rating_error {
            color: #b40032;
            font-family: UnitSlabWeb-Bold, Georgia, "Times New Roman", Times, serif;
            font-weight: normal;
            }
/* only the first child h3 in the aside */
  #sort-options {
    height: 30px;
    margin: 0;
    list-style: none;
    }
    #sort-options li {
      background: none;
      margin: 0 7px 0 0;
      line-height: 30px;
      display: inline-block;
      }
      #sort-options li a {
        background: #999;
        line-height: 20px;
        margin: 3px 0 5px;
        padding: 0 10px;
        text-indent: 0;
        color: #333;
        display: block;
        max-width: 150px;
        -webkit-border-radius: 3px;
           -moz-border-radius: 3px;
            -ms-border-radius: 3px;
             -o-border-radius: 3px;
                border-radius: 3px;
        border: solid 1px #666;
        text-shadow: 0 1px 1px #fff;
        box-shadow: 1px 1px 1px #000;
        text-decoration: none;
        }
        #sort-options li a:hover {
          text-decoration: underline;
          }

.expandable {
   }
   + ul {
    margin: 0;
    }
  .header {
    background: url('../images/icon-arrow-top-black-right.png') 5px center no-repeat transparent;
    text-indent: 18px;
    margin: 0;
    line-height: 30px;
    cursor: pointer;
    }
    .header a {
      color: #333;
      text-decoration: none;
      display: block;
      }
    .header a:hover {
      text-decoration: underline;
      }
  .expanded {
    height: 100%;
   }
  .collapsed {
    height: 0px;
    overflow: hidden;
    }

.fb-login-buttonbutton {
  margin-left: 40px;
}


/* overlay stuff */
#overlay {
  display: none;
  background: #fff;
  opacity: .75;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  }

/* modal styles */
#modal {
  display: none;
  background: #fff;
  border-radius: 10px;
  border: solid 3px #999;
  box-shadow: 0 0 3px #000;
  position: absolute;
  overflow-x: hidden;
  top: 10%;
  bottom: 10%;
  max-height: 80%;
  width: 50%;
  left: 50%;
  margin: 0 0 0 -25%;
  z-index: 200;
  }
  #modal #bsc-region-grandparents-list {
    list-style: none;
    margin: 10px 0;
    padding: 0;
    }
    #modal #bsc-region-grandparents-list ul {
      list-style: none;
      margin: none;
      padding: 0;
      }
    #modal #bsc-region-grandparents-list h4 {
      margin: 0;
      line-height: 20px;
      font-size: 14px;
      /*font-weight: normal;*/
      text-indent: 18px;
      color: #333;
      }
    #modal #bsc-region-grandparents-list > li {
      width: 23%;
      float: left;
      white-space: nowrap;
      }
    #modal .bsc-region-parent {
      position: relative;
      }
      #modal .bsc-region-parent > ul li:nth-of-type(odd) {
        background: #ececec;
        }
      #modal .bsc-region-parent > h4 + ul:before {
        content: ('+');
        }
      #modal .bsc-region-parent h4 {
        cursor: pointer;
        }
      #modal .bsc-region-parent input[type=checkbox] {
        position: absolute;
        left: 0;
        top: 3px;
        }
      #modal .bsc-region-parent label {
        text-indent: 18px;
        display: block;
        font-size: 14px;
        line-height: 20px;
        }